.navbar {
    background-color: #f8e9e2;
  }

  .navbar .nav-link {
    color: #645d52;
  }

  h1, .btn-primary {
    background-color: #c7b198;
    border-color: #c7b198;
  }

  h1, .form-label {
    color: #645d52;
  }